bentley-ottmann>=4.0.0,<5.0
clipping>=3.0.0,<4.0
ground>=5.0.0,<6.0
locus>=5.0.0,<6.0
orient>=3.0.0,<4.0
reprit>=0.4.0,<1.0
sect>=4.0.0,<5.0
symba>=0.4.2,<1.0
typing_extensions>=3.7.4.3,<4.0; python_version < '3.5.4' or python_version < '3.6.2'
