bentley-ottmann>=6.0.0,<7.0
clipping>=4.0.0,<5.0
ground>=7.0.0,<8.0
locus>=7.0.0,<8.0
orient>=5.0.0,<6.0
reprit>=0.6.0,<1.0
sect>=5.0.0,<6.0
symba>=0.5.1,<1.0
typing_extensions>=3.7.4.3,<4.0; python_version < '3.5.4' or python_version < '3.6.2'
